<div class="base-buttons">
  <div class="button-header">Normal buttons</div>

  <button class="hb-btn-success">button</button>
  <button class="hb-btn-success" disabled>Disabled button</button>

  <button class="hb-btn-primary">button</button>
  <button class="hb-btn-primary" disabled>Disabled button</button>

  <button class="hb-btn-danger">button</button>
  <button class="hb-btn-danger" disabled>Disabled button</button>

  <button class="hb-btn-secondary">button</button>
  <button class="hb-btn-secondary" disabled>Disabled button</button>

  <button class="hb-btn-warning">button</button>
  <button class="hb-btn-warning" disabled>Disabled button</button>

  <button class="hb-btn-dark">button</button>
  <button class="hb-btn-dark" disabled>Disabled button</button>

  <button class="hb-btn-light">button</button>
  <button class="hb-btn-light" disabled>Disabled button</button>

  <button class="hb-btn-info">button</button>
  <button class="hb-btn-info" disabled>Disabled button</button>
</div>


<div class="outline-buttons">
  <div class="button-header">Outlined buttons</div>

  <button class="hb-btn-outline-success">button</button>
  <button class="hb-btn-outline-success" disabled>Disabled button</button>

  <button class="hb-btn-outline-primary">button</button>
  <button class="hb-btn-outline-primary" disabled>Disabled button</button>

  <button class="hb-btn-outline-danger">button</button>
  <button class="hb-btn-outline-danger" disabled>Disabled button</button>

  <button class="hb-btn-outline-secondary">button</button>
  <button class="hb-btn-outline-secondary" disabled>Disabled button</button>

  <button class="hb-btn-outline-warning">button</button>
  <button class="hb-btn-outline-warning" disabled>Disabled button</button>

  <button class="hb-btn-outline-dark">button</button>
  <button class="hb-btn-outline-dark" disabled>Disabled button</button>

  <button class="hb-btn-outline-light">button</button>
  <button class="hb-btn-outline-light" disabled>Disabled button</button>

  <button class="hb-btn-outline-info">button</button>
  <button class="hb-btn-outline-info" disabled>Disabled button</button>
</div>


